@model IEnumerable<PetFood>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Pet Food List</h4>
            <a class="btn btn-gradient-primary btn-rounded btn-fw" asp-action="Create" asp-controller="PetFood"> Create </a>
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th> #</th>
                        <th>PetFood Icons</th>
                        <th>Food Name</th>
                        <th>Mfg Name</th>
                        <th>Price</th>
                        <th>Food valid Upto</th>
                        <th> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                    }
                    @foreach (var temp in Model)
                    {
                        if (Convert.ToInt64(@Context.Session.GetString("StoreId")) == temp.Product.StoreId)
                        {
                            <tr>
                            <td>@srno</td>
                            <td>
                                <img src="@temp.PhotoPath" width="100" height="100" />
                            </td>
                            <td>@temp.FoodName</td>
                            <td>@temp.MfgName</td> 
                            <td>@temp.Product.ProductPrice</td>
                            <td>@Enum.GetName(typeof(GoodFoodForPetAccordingPetAgeEnum), temp.GoodFoodAccordingToPetAge)</td>
                            <td>
                                <a class="btn btn-gradient-info btn-rounded btn-fw" asp-action="Edit" asp-route-id="@temp.FoodId">Edit</a>
                                <a class="btn btn-gradient-danger btn-rounded btn-fw" asp-action="Delete" asp-route-id="@temp.FoodId">Delete</a>
                                <a class="btn  btn-gradient-success btn-rounded btn-fw" asp-action="Details" asp-route-id="@temp.FoodId">Details</a>
                            </td>

                        </tr>
                        srno++;
                    }
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
 