@model IEnumerable<CartVM>



        <table class="table table-hover w-100 table-bordered" ">
            <thead>

                <tr >

                    <th> #</th>
                    <th>Product Icons</th>
                    <th>Product Name</th>
                    <th>Mfg Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                   
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                    decimal? amount = 0, totalamount = 0;
                }
                @foreach (var temp in Model)
                {

                    <tr>
                        <td>@srno</td>
                        <td>
                            <img src="@temp.PhotoPath" width="100" height="100" />
                        </td>
                        <td>@temp.ProductName</td>
                        <td>@temp.MfgName</td>
                        <td>@temp.Price</td>
                        <td>@temp.Quantity</td>
                        <td>
                            @{
                                amount = temp.Quantity * temp.Price;
                                totalamount += amount;
                            }
                            @amount
                        </td>
                        
                    </tr>
                    srno++;
                }
                </tbody>

                </table>
            
